<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-config.dtd">
 <configuration>
     <settings>
         <setting name="mapUnderscoreToCamelCase" value="true"></setting>
     </settings>
     <typeAliases>
     <!-- 사용할경우 사용 -->
     
     </typeAliases>
 </configuration>
 
 